{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Servicios</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

</head>

<body>
  </ul><ul class="nav nav-pills nav-fill gap-2 p-1 small bg-primary rounded-5 shadow-sm" id="pillNav2" role="tablist"
  style="--bs-nav-link-color: var(--bs-white); --bs-nav-pills-link-active-color: var(--bs-primary); --bs-nav-pills-link-active-bg: var(--bs-white);">
  <li class="nav-item" role="presentation"><a href="{% url 'home' %}">
    <button class="nav-link  active rounded-5" id="home-tab2" data-bs-toggle="tab" type="button" role="tab"
      aria-selected="true">Inicio</button></a>
</li>
  <li class="nav-item" role="presentation"><a href="{% url 'create_pres' %}">
      <button class="nav-link  rounded-5" id="home-tab2" data-bs-toggle="tab" type="button" role="tab"
        aria-selected="true">Nuevo Servicio</button></a>
  </li>
  <li class="nav-item" role="presentation"><a href="{% url 'create_cli' %}">
      <button class="nav-link rounded-5" id="profile-tab2" data-bs-toggle="tab" type="button" role="tab"
        aria-selected="false">Nuevo Cliente</button></a>
  </li>
  <li class="nav-item" role="presentation"><a href="{% url 'listaPres' %}">
      <button class="nav-link  rounded-5" id="contact-tab2" data-bs-toggle="tab" type="button" role="tab"
        aria-selected="false">Planilla de Presupuestos</button></a>
  </li>
  <li class="nav-item" role="presentation"><a href="{% url 'clientes' %}">
      <button class="nav-link  rounded-5" id="contact-tab2" data-bs-toggle="tab" type="button" role="tab"
        aria-selected="false">Lista de Clientes</button></a>
  </li>
</ul>
 
  <h2>Planilla de Presupuestos</h2>
  {% for s in servicios %}
  {% if s.titulo == 'Mantenimiento' %}
  <div class="container">
    <div class="row">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'imgs/instalacion.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{c.nombre}}</h5>
          <p class="card-text">{{s.materiaPrima}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{s.usuario}}</li>
          <li class="list-group-item">{{s.fecha}}</li>
          <li class="list-group-item">{{s.precio}}</li>
        </ul>
        <div class="card-body">
          <a href="{% url 'updatePres' s.id %}" class="card-link"><input type="submit" value="Cambiar"></a>
          <form action="{% url 'deletePres' s.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Borrar">
          </form>
        </div>
      </div>
      {% elif s.titulo == 'Instalacion' %}
      <div class="card" style="width: 18rem;">
        <img src="{% static 'imgs/mantenimiento.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{c.nombre}}</h5>
          <p class="card-text">{{s.materiaPrima}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{s.usuario}}</li>
          <li class="list-group-item">{{s.fecha}}</li>
          <li class="list-group-item">{{s.precio}}</li>
        </ul>
        <div class="card-body">
          <a href="{% url 'updatePres' s.id %}" class="card-link"><input type="submit" value="Cambiar"></a>
          <form action="{% url 'deletePres' s.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Borrar">
          </form>
        </div>
      </div>
      {% else %}
      <div class="card" style="width: 18rem;">
        <img src="{% static 'imgs/servicio.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{c.nombre}}</h5>
          <p class="card-text">{{s.materiaPrima}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{s.usuario}}</li>
          <li class="list-group-item">{{s.fecha}}</li>
          <li class="list-group-item">{{s.precio}}</li>
        </ul>
        <div class="card-body">
          <a href="{% url 'updatePres' s.id %}" class="card-link"><input type="submit" value="Cambiar"></a>
          <form action="{% url 'deletePres' s.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Borrar">
          </form>
        </div>
      </div>
      {% endif %}
      <hr>
    </div>
  </div>
  </li>
  {% endfor %}
  <button type="button" class="btn btn-warning">
    <a href="{% url 'home' %}">Inicio</a></button>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
  integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
  crossorigin="anonymous"></script>
</body>

</html>