{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
  
</head>
<body>
{% block contect %}

  <h2>Planilla de Presupuestos</h2>
      {% for s in servicios %} <hr>
      {% if s.titulo == 'Mantenimiento' %}
    <div class="container">
      <div class ="row">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'imgs/instalacion.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{c.nombre}}</h5>
            <p class="card-text">{{s.materiaPrima}}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{s.usuario}}</li>
            <li class="list-group-item">{{s.fecha}}</li>
            <li class="list-group-item">{{s.precio}}</li>
          </ul>
          <div class="card-body">
            <a href="{% url 'updatePres' s.id %}" class="card-link"><input type="submit" value="Cambiar"></a>
            <form action= "{% url 'deletePres' s.id %}" method="post">
              {% csrf_token %}
             <input type="submit" value="Borrar">
            </form >
          </div>
        </div>
        {% elif s.titulo == 'Instalacion' %} 
        <div class="card" style="width: 18rem;">
          <img src="{% static 'imgs/servicio.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{c.nombre}}</h5>
            <p class="card-text">{{s.materiaPrima}}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{s.usuario}}</li>
            <li class="list-group-item">{{s.fecha}}</li>
            <li class="list-group-item">{{s.precio}}</li>
          </ul>
          <div class="card-body">
            <a href="{% url 'updatePres' s.id %}" class="card-link"><input type="submit" value="Cambiar"></a>
            <form action= "{% url 'deletePres' s.id %}" method="post">
              {% csrf_token %}
             <input type="submit" value="Borrar">
            </form >
          </div>
        </div>
          
        {% else %} 
        <div class="card" style="width: 18rem;">
          <img src="{% static 'imgs/servicio.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{c.nombre}}</h5>
            <p class="card-text">{{s.materiaPrima}}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{s.usuario}}</li>
            <li class="list-group-item">{{s.fecha}}</li>
            <li class="list-group-item">{{s.precio}}</li>
          </ul>
          <div class="card-body">
            <a href="{% url 'updatePres' s.id %}" class="card-link"><input type="submit" value="Cambiar"></a>
            <form action= "{% url 'deletePres' s.id %}" method="post">
              {% csrf_token %}
             <input type="submit" value="Borrar">
            </form >
          </div>
        </div>
        {% endif %}       
       <hr>
      </div>
    </div>
    {% endfor %}
        
{% endblock %}

    <a href="{% url 'home' %}">Home</a>
    
</body>
</html>