{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <title>Modificar Servicio</title>
</head>
<body>
    
</body>
</html>
<h2>Modificar Presupuesto </h2>
    {cliente.nombre}
    <form action="{% url 'create_pres' %}"method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Guardar cambios</button>
    </form>
<a href= "{% url 'listaPres' %}">Atras</a>